/* Custom Font - Los Marmotas */
@font-face {
    font-family: 'LosMarmotas';
    src: url('https://raw.githubusercontent.com/oviedleonel/pagina-web-los-marmotas-growshop/main/fonts/LosMarmotas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-losmarmotas {
    font-family: 'LosMarmotas', sans-serif;
}

/* Background pattern for Hero section */
.bg-stars {
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    background-color: #000000;
}

/* Custom styles for elements (optional, if not fully covered by Tailwind) */
/* Example: Shadow for prod